:root {
    --prim-color: #EC8FFA;
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border-width: 0;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.font-light {
    font-weight: 400;
}

.bg-pink-prim {
    background-color: var(--prim-color);
}

.bg-neutral-200 {
    background-color: rgb(245 245 245);

}

.shadow-prim {
    box-shadow: 0px 4px 4px 0px rgba(236, 143, 250, 0.46);
}

.hover-bg-light-pink:hover {
    background-color: #f29bff;

}

.h-4 {
    height: 4em;
}

.logo {
    width: 10em
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.w-max-4-5 {
    max-width: 80%;
}

.justify-around {
    display: flex;
    justify-content: space-around;
}


.ml-auto {
    margin-left: auto;
}

.mr-8 {
    margin-right: 2em;
}

.absolute {
    position: absolute;
}

.hidden {
    display: none;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.shadow-sm {
    box-shadow: 0px -1px 18.1px 3px rgba(0, 0, 0, 0.25);
}

.p-4 {
    padding: 1em;
}

.p-6 {
    padding: 1.5em;
}

.p-8 {
    padding: 2em;
}

.py-8 {
    padding: 2em 0 2em 0;
}

.py-1 {
    padding-top: .25em;
    padding-bottom: .25em;
}

.p-2 {
    padding: 0.5em;
}

.px-2 {
    padding-left: .5em;
    padding-right: .5em;
}

.px-8 {
    padding-left: 2em;
    padding-right: 2em;
}

.p-0 {
    padding: 0;
}

.relative {
    position: relative;
}


.right-16 {
    right: 4em;
}

.bg-neutral-50 {
    background-color: rgb(250, 250, 250);
}

.rounded-b {
    border-radius: 0 0 1rem 1rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.border-neutral-300 {
    border: 1px solid rgb(212 212 212);
}

.w-screen {
    width: 100vw;
}

.text-neutral-600 {
    color: rgb(82 82 82);
}

.list-none {
    list-style-type: none;
}

.g-2 {
    display: flex;
    gap: 0.5em;
}

.w-8 {
    width: 2em;
    height: auto;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-2 {
    margin-top: 0.5em;
}

.mx-40 {
    margin-left: 10em;
    margin-right: 10em;
}

.mx-60 {
    margin-left: 15em;
    margin-right: 15em;
}

.h-screen {
    height: 50vh;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.g-4 {
    display: flex;
    gap: 1em;
}

.mega-icons {
    height: 3rem;
    width: auto;
}

.grid-cols-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2em;
}

.text-lg {
    font-size: 1.25rem;
}

.flex-col-4 {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.flex-col-2 {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.item-center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-center {
    display: flex;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.underline {
    position: relative;
}

.underline:hover {
    text-decoration: underline;
    text-decoration-color: var(--prim-color);
    text-underline-offset: 4px;
}


.cursor-pointer {
    cursor: pointer;
}

.mt-12 {
    margin-top: 3em;
}

h1 {
    color: var(--prim-color);
}

section {
    line-height: 2rem;
}

img.shop {
    width: 80em;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.p-1 {
    padding: .25em;
}

.rounded-full {
    border-radius: 9999px;
}

.flex-1>* {
    min-width: fit-content;
    flex: 1;
}

.items-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
}

@media (min-width:640px) {
    .sm-hide {
        display: none;
    }

    .sm-block {
        display: block;
    }

    .sm-g-4 {
        display: flex;
        gap: 1em;
    }

    .sm-justify-center {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .sm-w-max-3-5 {
        max-width: 60%;
    }

    .sm-items-start {
        display: flex;
        align-items: start;
    }
}

.mt-8 {
    margin-top: 2em;
}

.all-mt-2>* {
    margin-top: 1em;
}

@media (min-width:760px) {
    .md-w-max-3-5 {
        max-width: 60%;
        right: 4em;
    }
}