body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

.logo {
    width: 10em
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.shadow-sm {
    box-shadow: 0px -1px 18.1px 3px rgba(0, 0, 0, 0.25);
}

.p-4 {
    padding: 1em;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.bg-neutral-50 {
    background-color: rgb(250, 250, 250);
}

.rounded-b {
    border-radius: 0 0 0.25rem 0.25rem;
}

.w-screen {
    width: 100vw;
}

.list-none {
    list-style-type: none;
}

.g-2 {
    display: flex;
    gap: 0.5em;
}

.w-8 {
    width: 2em;
    height: auto;
}

.mt-2 {
    margin-top: 0.5em;
}

.h-screen {
    height: 100vh;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.g-4 {
    display: flex;
    gap: 1em;
}

.grid-cols-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1em;
}


@media (min-width:640px) {
    .sm-hide {
        display: none;
    }

    .sm-block {
        display: block;
    }

    .sm-g-4 {
        display: flex;
        gap: 1em;
    }
}